.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.home-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.home-body {
  width: 50%;
}

.scorecard {
    width: 600px;
    margin: auto;
    text-align: left;
}

/* *, *:before, *:after { */
/*     -moz-box-sizing: border-box; */
/*     -webkit-box-sizing: border-box; */
/*     box-sizing: border-box; */
/* } */

body {
    background: lightgray;
    box-sizing: border-box;
}

.game {
    width: 1000px;
    display: flex;
    background: white;
    margin: auto;
}
.game-map {
    width: 600px;
    height: 600px;
    position: relative;
}

.character-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.character-image {
}

.character-description {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}


.thingy {
    opacity: 0
}
.transition-enter {
    opacity: 0;
}
.transition-enter-active {
    opacity: 1;
    transition: opacity 200ms;
}
.transition-exit {
    opacity: 1;
}
.transition-exit-active {
    opacity: 0;
    transition: opacity 200ms;
}

.game-object {
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    margin: 5px;
    position: absolute;
    height: 90px;
    width: 90px;
    border: 2px solid transparent;
}

.selected {
    border: 2px solid blue;
    border-radius: 5px;
}

.active-location {
    width: 250px;
    margin-top: 1em;
    font-size: 2em;
}

.inventory {
    width: 150px;
}

.phone {
    width: 150px;
    border-radius: 50px;
}

.question-mark {
    width: 100px;
    height: 100px;
}

button {
    padding: 20px;
    margin: 20px;
    font-size: 20px;
}
