.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.home-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.home-body {
  width: 50%;
}

.character-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.character-image {
}

.character-description {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

.game-object {
    position: absolute;
    height: 50px;
    width: 50px;
    background: white;
    border: 1px solid blue;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: lightgray;
    box-sizing: border-box;
}

.game-window {
    background: white;
    width: 800px;
    height: 600px;
    margin: auto;
    margin-top: 50px;
    position: relative
}

.character-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.character-image {
}

.character-description {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}
